@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed:wght@200;400;700&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --barlow-condensed: "Barlow Condensed", sans-serif; /* 400, 700 */
  --barlow: "Barlow", sans-serif; /* 400 */
  font-size: 18px;
  --very-dark-blue: hsl(230, 29%, 20%);
  --dark-grayish-blue: hsl(230, 11%, 40%);
  --grayish-blue: hsl(231, 7%, 65%);
  --light-grayish-blue: hsl(207, 33%, 95%);
  --red: hsl(0, 100%, 68%);
}

body,
html {
  position: relative;
  overflow-x: hidden;
  min-height: 100vh;
}

ul {
  list-style: none;
}

li {
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
  letter-spacing: 0.066rem;
  font-family: var(--barlow-condensed);
  font-weight: 700;
  color: var(--very-dark-blue);
}

.background {
  width: 55%;
  position: absolute;
  height: 23.61rem;
  background-color: var(--light-grayish-blue);
  border-bottom-left-radius: 3.33rem;
  right: 0;
  z-index: -5;
}

/* 
==========================================================================
==========================================================================
=========================== NAV ==========================================
==========================================================================
==========================================================================
*/

nav {
  display: flex;
  justify-content: space-between;
  padding: 2.11rem 1.77rem;
}

nav .logo img {
  width: 1.33rem;
  height: 1.33rem;
}

.close-btn {
  display: none;
}

.links {
  display: none;
  text-align: center;
  position: absolute;
  width: 90%;
  height: 13rem;
  padding: 2rem 0.5rem;
  background-color: white;
  text-transform: uppercase;
  transform: translate(-86%, 15%);
}

.accent {
  color: var(--grayish-blue);
}

.line {
  border: 1px solid var(--grayish-blue);
  margin-bottom: 1rem;
}

.show.links {
  display: block;
}

.show.close-btn {
  display: block;
}

@media screen and (min-width: 375px) and (max-width: 424px) {
  .links {
    transform: translate(-89%, 15%);
  }
}

@media screen and (min-width: 425px) {
  .links {
    transform: translate(-91%, 15%);
  }
}

@media screen and (min-width: 768px) {
  .mobile-nav {
    display: none;
  }

  .links li {
    margin-left: 0.55rem;
  }

  .links ul {
    display: flex;
  }

  .links {
    display: block;
    background-color: transparent;
    transform: translate(-45%, -15%);
  }

  .line {
    width: 4px;
    height: 4px;
    background-color: var(--grayish-blue);
    margin-left: 0.55rem;
    transform: translate(0, 00.55rem);
  }
}

@media screen and (min-width: 1024px) {
  .background {
    height: 23.72rem;
  }

  nav {
    padding: 3.55rem 9rem;
  }

  nav .logo {
    width: 1.77rem;
    height: 1.77rem;
  }

  .links {
    transform: translate(-25%, -15%);
  }

  .links a {
    font-size: 0.83rem;
    letter-spacing: 0.055rem;
  }

  .links a:hover {
    cursor: pointer;
    text-decoration: underline;
  }

  .links li {
    margin-left: 1rem;
  }

  .line {
    margin-left: 1rem;
  }
}

@media screen and (min-width: 1440px) {
  .background {
    width: 45%;
  }
}

/* 
==========================================================================
==========================================================================
=========================== MAIN =========================================
==========================================================================
==========================================================================
*/

.hero-illustration {
  margin-top: 0.7rem;
  margin-bottom: 4rem;
}

.hero-illustration img {
  width: 26.77rem;
  height: 13.27rem;
}

.main-text {
  padding: 1.5rem 1.2rem;
}

.main-text .new {
  padding: 0.27rem 0.38rem;
  background-color: var(--very-dark-blue);
  color: white;
  font-weight: 700;
  letter-spacing: 0.055rem;
  border-radius: 0.72rem;
  text-align: center;
  margin-right: 0.4rem;
}

.main-text h2 {
  display: flex;
  align-items: center;
  color: var(--dark-grayish-blue);
  font-size: 0.833rem;
  font-family: var(--barlow-condensed);
  font-weight: 400;
  letter-spacing: 0.27rem;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

.main-text h1 {
  font-size: 2rem;
  line-height: 2.22rem;
  font-family: var(--barlow-condensed);
  font-weight: 700;
  text-transform: uppercase;
  color: var(--very-dark-blue);
  margin-bottom: 0.7rem;
}

.main-text h3 {
  font-size: 1rem;
  font-family: var(--barlow);
  line-height: 1.44rem;
  font-weight: 400;
  color: var(--very-dark-blue);
  margin-bottom: 1.5rem;
}

.btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btns p {
  text-transform: uppercase;
  font-size: 0.6rem;
  font-family: var(--barlow-condensed);
  font-weight: 400;
  color: var(--grayish-blue);
  letter-spacing: 0.138rem;
}

.btns button {
  width: 7.5rem;
  height: 2rem;
  background-color: var(--red);
  color: white;
  border-radius: 0.27rem;
  border: transparent;
  outline: transparent;
  text-transform: uppercase;
  font-size: 0.77rem;
  font-family: var(--barlow-condensed);
  font-weight: 700;
  letter-spacing: 0.0516rem;
}

@media screen and (min-width: 375px) {
  .main-text {
    padding: 1.7rem 1.77rem;
  }

  .main-text h1 {
    font-size: 2.22rem;
  }

  .btns p {
    font-size: 0.7rem;
  }

  .btns button {
    width: 8rem;
    height: 2.22rem;
  }
}

@media screen and (min-width: 768px) {
  main {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
  }

  .btns {
    display: flex;
    gap: 25px;
  }
}

@media screen and (min-width: 1024px) {
  main {
    margin-left: 75rem;
  }

  .hero-illustration img {
    width: 45.88rem;
    height: 23.277rem;
  }

  .main-text h1 {
    width: 350px;
  }

  .main-text h3 {
    padding-right: 4rem;
  }
}

@media screen and (min-width: 1440px) {
  main {
    padding-left: 8rem;
    margin-left: 0;
  }

  .hero-illustration {
    transform: translate(20%, 50px);
  }

  .main-text h1 {
    font-size: 3.55rem;
    line-height: 3.55rem;
    width: 470px;
    margin-bottom: 1.5rem;
  }

  .main-text h2 {
  }

  .main-text h3 {
    padding-right: 12rem;
    line-height: 1.44rem;
    font-size: 1rem;
  }

  .btns {
    padding-right: 5rem;
  }

  .btns button {
    width: 10.22rem;
    height: 2.66rem;
    letter-spacing: 0.059rem;
    font-size: 0.88rem;
  }

  .btns button:hover {
    cursor: pointer;
    background-color: hsla(0, 100%, 68%, 0.7);
  }
}
